@import "../../scss";

.Dropdown {
  cursor: auto;
  //position: absolute;
  //right: 0;
  //top: 70px;
  //z-index: 1;

  @include noSelectText;
  //@include borderGradient();

  @include respond-to($bp_tablet_big_900) {
    margin: 10px 0;
    float: right;
  }
  @include respond-from($bp_tablet_big_900) {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1;
  }


  display: none;

  &__is_active {
    display: block;
  }

  &__mobile {
    right: 0;
    top: 40px;

    &__content {
      min-width: 130px;
    }
  }

  &__desktop {
    &__content {
      border-radius: inherit;
      padding: 15px 30px;
      min-width: 164px;
    }
  }


  &__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
  }

  &__DropDownList ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-bottom: 15px;
      font-size: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: #808080;
      }

      a, div {
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          color: $color_accent;
        }
      }

    }
  }
}