@import "../../scss";

.MenuWrapper {
  @include respond-to($bp_tablet_768) {
    display: none !important;
  }

  &__Menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 56px;
    min-width: 600px;
    background: linear-gradient(175deg, #2c363b, transparent, #2c363b);
    border-radius: inherit;
    padding: 0 20px;
    position: relative;

    &__item {
      padding: 0 10px;
      @include noSelectText;
      color: #ffffff;
      transition: all 0.6s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      gap: 15px;

      //&:hover {
      //  color: $color_accent;
      //}
    }

    //@include borderGradientAnimation(8s);
  }
}
