.NumbersWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow: hidden;

  &__Image {
    position: relative;
    z-index: 0;
    //width: 70vw;
  }

  &__Numbers {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}

