@import "../../scss";


.SecurityCardContent {
  @include respond-from($bp_tablet_768) {
    height: $security_desktop_height;
  }
  @include respond-to($bp_tablet_768) {
    height: $security_tablet_height;
  }
  @include respond-to($bp_mobile_480) {
    height: $security_mobile_height !important;
  }
  @include respond-to-mobile-mini() {
    height: $security_mobile_mini_height !important;
  }
}

.SecurityCardContent {
  display: flex;
  align-items: stretch;
  padding: 20px;
  gap: 30px;

  @include respond-to($bp_tablet_768) {
    flex-direction: column-reverse;
  }
  @include respond-to($bp_mobile_480) {
    gap: 20px;
  }

  &__Content {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    justify-content: start;

    @include respond-to($bp_mobile_480) {
      justify-content: start;
    }

    &__Description {
      margin-bottom: 20px;
      width: 100%;
      //font-size: clamp(14px, 4vw, 16px);
      //line-height: clamp(20px, 4.1vw, 22px);

      font-size: 16px;
      line-height: 22px;

      ul{
        margin-left: 20px;

        li {
          padding-bottom: 15px;
        }
      }
    }

    &__Tags {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &__Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(1, 1, 1, 0.6);
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(1, 1, 1, 0.8);
    overflow: hidden;
    //min-height: 200px;
    //max-height: 250px;

    @include respond-from($bp_tablet_768) {
      flex: 0.5;
    }

    @include respond-to($bp_tablet_768) {
      //flex: 1;
      width: 100%;
    }


    &__Image {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;


      img {
        width: 60%;
        display: block;
        @include respond-to($bp_tablet_768) {
          max-width: 33%;
        }
        @include respond-to($bp_mobile_480) {
          width: 60%;
        }
      }
    }


    &__Subtitle {
      text-align: center;
    }
  }
}