.HomeSection{
  margin-bottom: 20px;


  &__Slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    height: 50px;
    //background: red;

    &__item {
      //background: green;
      //min-width: 150px;
      text-align: left;
    }
  }

  &__button{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}