
.ArrowIcon {
  width: 8px;
  height: 12px;
  transition: 0.5s;

  path {
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: draw 2s ease forwards;
  }

  &__accent path {
    stroke: #010101;
  }

  &__default path {
    stroke: #ffffff;
  }

  &__disabled path{
    stroke: #666666;
  }

  @keyframes draw {
    from {
      stroke-dashoffset: 30;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}