@import "../../../scss";

.GradientBorder {
  $speed: 5s;
  position: relative;
  padding: 0;
  border-radius: 28px;

  &__content{
    background: $color_gray;
    border-radius: inherit;
    position: relative;
    z-index: 4;
  }
  @include borderGradient();

  &__animated {
    @include borderGradientAnimation($speed);
  }
}