@import "src/scss";

.Logo {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;
  min-width: 127px;
  min-height: 37px;

  svg {
    width: 100%;
    height: 100%;
  }

  &__small {
    width: 127px;
    height: 37px;
  }

  &__medium {
    width: 250px;
    height: 40px;
  }

  &__large {
    width: 100%;
    height: 206px;
  }

  &__animation {
    &__yellow {
      fill: transparent;
      //stroke-width: 2;
      //stroke-dasharray: 450;
      //stroke-dashoffset: 450;
      stroke: $color_accent;
      animation: fillAnimation_yellow 3s linear 1 forwards;
    }

    &__white {
      fill: transparent;
      stroke-width: 2;
      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      stroke: $color_white;
      animation: fillAnimation_white 3s linear 1 forwards;
    }
  }

  @keyframes fillAnimation_white {
    0% {
      stroke-dashoffset: 450;
    }
    50% {
      stroke-dashoffset: 0;
      stroke-width: 0;
      fill: $color_accent;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-width: 0;
      fill: $color_white;
    }
  }

  @keyframes fillAnimation_yellow {
    0% {
      stroke-dashoffset: 450;
    }
    50% {
      stroke-dashoffset: 0;
      stroke-width: 0;
      fill: $color_white;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-width: 0;
      fill: $color_accent;
    }
  }
}