@import "../../scss";

.SecurityCardTitle {
  font-family: 'Manrope', 'sans-serif';
  font-size: 50px;
  line-height: 58px;
  font-weight: 800;
  margin-bottom: 20px;

  &__centerText {
    text-align: center;
  }

  @include respond-to($bp_mobile_480) {
    font-size: 24px;
    line-height: 28px;
  }
  @include respond-to($bp_tablet_big_900) {
    font-size: 24px;
    line-height: 28px;
  }
  @include respond-to-mobile-mini() {
    margin-bottom: 10px;
    font-weight: 500;
  }
}