.NumbersImage {
width: 100%;
  height: 100%;

  &__img {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }


  //background-image: url("../../../../public/assets/images/numbers.svg");

}