.MainPage {

  &__Sections {
    padding: 0 20px;
    max-width: 1160px;
    min-width: 270px;
    margin: 0 auto;
  }

  &__Separator {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 100px;
  }
}