@import "../../scss";

.BrandSection {
  position: relative; // чтобы абсолютный элемент позиционировался внутри
  min-width: 310px;
  height: clamp(200px, 25vw, 500px);
  margin-bottom: 100px;

  &__Wrapper {
    overflow: hidden;

    &__Widget {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


      @include respond-from($bp_desktop_1440) {
        left: calc((100vw - 1200px) / 2);
      }

      @include respond-to($bp_desktop_1440) {
        left: 0;
      }

      //max-width: none;
      //pointer-events: none;

      svg {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

  }
}