@import "src/scss";

.BurgerButton {
  width: 29px;
  height: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 60px;
  z-index: 10;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  @include respond-from($bp_desktop_1440) {
    display: none !important;
  }

  &_bar, &:after, &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: 0.4s;
  }

  &_bar {
    width: 18px;
  }

  &__is_active {
    div {
      opacity: 0;
    }

    &:before {
      transform: rotate(-45deg) translate(0px, 0px);
    }

    &:after {
      transform: rotate(45deg) translate(-6px, -8px);
    }
  }


}