@import "../../scss";

.Subtitle {
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  @include respond-to($bp_mobile_480) {
    line-height: 22px;
    margin: 0 auto;
    max-width: 100%!important;
  }

  &__centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}