.App {
    /*max-width: 1200px;*/
    /*min-width: 350px;*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*position: relative;*/
    /*background: red;*/
}

.Footer {
    padding: 0 20px;
    max-width: 1160px;
    min-width: 270px;
    margin: 0 auto;
}

.Separator {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 100px;
}

