@use "./variable" as var;

// min-width (from -> and more)
@mixin respond-from($key) {
  $value: map-get(var.$breakpoints, $key);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Error breakpoint name #{$key}";
  }
}


// max-width (to -> and less)
@mixin respond-to($key) {
  $value: map-get(var.$breakpoints, $key);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Error breakpoint name #{$key}";
  }
}

@mixin respond-to-mobile-mini() {

  //@media (max-width: 375px) and (max-height: 667px) {
  //  @content;
  //}
  @media (max-width: 320px) and (max-height: 568px) {
    @content;
  }
}


//// min-width (from -> and more)
//@mixin respond-from($breakpoint) {
//  @if $breakpoint == "desktop" {
//    @media (min-width: var.$bp-desktop) { @content; }
//  } @else if $breakpoint == "tablet_big" {
//    @media (min-width: var.$bp-tablet_big) { @content; }
//  } @else if $breakpoint == "tablet" {
//    @media (min-width: var.$bp-tablet) { @content; }
//  } @else if $breakpoint == "mobile" {
//    @media (min-width: var.$bp-mobile) { @content; }
//  } @else if $breakpoint == "mini" {
//    @media (min-width: var.$bp-mobile-mini) { @content; }
//  }
//}

//// max-width (to -> and less)
//@mixin respond-to($breakpoint) {
//  @if $breakpoint == "desktop" {
//    @media (max-width: var.$bp-desktop) { @content; }
//  } @else if $breakpoint == "tablet_big" {
//    @media (max-width: var.$bp-tablet_big) { @content; }
//  } @else if $breakpoint == "tablet" {
//    @media (max-width: var.$bp-tablet) { @content; }
//  } @else if $breakpoint == "mobile" {
//    @media (max-width: var.$bp-mobile) { @content; }
//  } @else if $breakpoint == "mini" {
//    @media (max-width: var.$bp-mobile-mini) { @content; }
//  }
//}
