@import "../../scss";

.FeaturesSection {
  margin-bottom: 100px;

  &__Description {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;


  }

  &__Cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    gap: 30px;
    justify-content: center;

    &__CardItem {
      min-height: 277px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 20px;
      padding: 20px;

      &__Icon {
        @include noSelectText();
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__Content {
        min-height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &__Title {
          text-align: center;
          font-size: 24px;
          font-weight: bold;
        }

        &__Description {
          text-align: center;
          font-size: 16px;
        }
      }

    }
  }

}